DB_HOST=localhost
DB_PORT=5432
DB_NAME=turnoflow
DB_USER=turnoflow
DB_PASS=turnoflow123

APP_ENV=local
APP_URL=http://localhost/system-horario/TurnoFlow/public
APP_SECRET=cambia_esto_por_un_string_aleatorio_largo

UPLOAD_MAX_MB=10
UPLOAD_PATH=C:/xampp/htdocs/system-horario/TurnoFlow/uploads
